<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Firstname</th>
      <th>Birthday</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of personList" (click)="onRowClicked(person)">
      <td>{{ person.name }}</td>
      <td>{{ person.firstName }}</td>
      <td>{{ person.birthday | date : 'yyyy/MM/dd' }}</td>
    </tr>
  </tbody>
</table>
<div class="alert alert-success" role="alert" *ngIf="selectedPerson != null" [hidden]="hidden">
  <h4 class="alert-heading">{{selectedPerson.firstName}} {{selectedPerson.name}}</h4>
  <p>{{selectedPerson.address.street}} {{selectedPerson.address.zip}} {{selectedPerson.address.city}}, {{selectedPerson.address.state}}</p>
  <hr>
  <p *ngFor="let phone of selectedPerson.phones">{{phone.phonetype}} {{phone.number}}</p>
</div>
