<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Vert.x Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<main role="main" class="container">
  <h1 class="mt-5" style="margin-top: 5rem!important">A Vert.x / Angular showcase</h1>
  <ul>
    <li>JavaScript (Angular) frontend</li>
    <li>Java (Vert.x) backend</li>
    <li>Maven multi-module structure</li>
    <li>JavaScript frontend uses Java domain model classes compiled to TypeScript</li>
    <li>Java backend imports generated Javascript UI</li>
    <li>software is released as self-contained system (fat jar)</li>
  </ul>
  <app-persontable></app-persontable>
</main>
<footer class="footer bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">&copy; mekaso.rocks 2018</p>
  </div>
</footer>

